{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Client Reviews</h4>
            <div class="table-responsive">
                <table class="table table-bordered" style="width: 1400px;">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Client Name
                              </th>
                              <th>
                                Designation
                              </th>
                              <th>
                                Review
                              </th>
                              <th>
                                Client Image
                              </th>
                      
                              <th>
                                Update
                              </th>
                              <th>
                                Delete
                              </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client_review in client_reviews %}
                        <tr>
                            <td style="width: 150px; ">
                                {{ client_review.client_name }}
                              </td>
                              <td style="width: 150px; ">
                                {{ client_review.designation }}
                              </td>
                              <td style="width: 500px; word-wrap: break-word; white-space: inherit; height: 200px; overflow: auto;">
                                {{ client_review.review }}
                            </td>
                            <td style="width: 150px; ">
                                {% if client_review.client_image %}
                                <img src="{{ client_review.client_image.url }}" alt="Current Image" style="width: 80px; height: 80px;">
                                <br>
                                <!-- <input type="checkbox" name="remove_image"> Remove Current Image -->
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                              </td>
                            <td>
                                <a href="{% url 'update_client_review' client_review.id  %}" class="btn btn-warning btn-sm">
                                    <i class="mdi mdi-cloud-upload" aria-hidden="true"></i> Update
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_client_review' client_review.id  %}" class="btn btn-danger btn-sm">
                                    <i class="mdi mdi-delete" aria-hidden="true"></i> Delete
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No Reviews available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
